*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "montserrat";
}
.container{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    background-color: rgb(245, 245, 245);    
    height: 100%;
    width: 100%;    
    border: 1px solid black;
}
#display{
    border-bottom: 1px solid black;
    height: 35%;
    width: 100%;
    overflow: hidden;
}
#input{
   
    height: 65%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.row button{
    color: black;
    background-color:rgb(255, 255, 255) ;
    font-size: 4vh; 
    height: 100%;
    width:25%; 
    float: left; 
    cursor: pointer;
}
.row{
   height: 20%;
}

.row button:hover{
    background-color: rgba(255, 255, 255, 0.404);
}

.displayRow {
    color: black;
    position: relative;
    width: 100%;
    height: 25%;
}
.displayRow p{
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 4vh;
}

#display div:nth-child(3){
    height: 35%;
    font-size: 60px;
}
#display div:nth-child(4){
    color: rgba(0, 0, 0, 0.555);
    height: 15%;
}
#ac{
    color: orangered;
}
#print{
    color: rgb(37, 43, 95);
}
#equals{
    color: white;
    background-color: rgba(255, 68, 0, 0.966)
}
#equals:hover{
    background-color: rgba(255, 255, 255, 0.425);
}

.change{
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.change ul{
    flex: 1;
    font-size: 4vh;
    list-style-type: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-direction:row ;
    
}
.undo{
    display: none;

}